.App{
  height:auto;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .container{
  width:90%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
.App .container .Title,.category{
  width:100%;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 0px;
}

.App .container .line_width{
  height:1px;
  width:50px;
  background-color: pink;
}
.App .container .category .groupCategories{
  width:400px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.App .container .category .groupCategories .ItemCategory button{
  height:30px;
  width:auto;
  padding:0px 20px;
  border:1px solid pink;
  background-color: white;
  margin:0px 10px;
  cursor:pointer;
}
.App .container  .ListProducts{
  height:auto;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:30px;
  padding-bottom: 10px;
}

.App .container  .ListProducts .ItemProduct{
  width:48%;
  height:150px;
  display:flex;
  flex-direction: row;
  margin-left:10px;
  margin-top:10px;
  border:1px solid pink;
 }

.App .container  .ListProducts .ItemProduct .divImage{
  height:150px;
  width: 80%;

 }

.App .container  .ListProducts .ItemProduct .divImage img{
    height:100%;
    width: 100%;
 }

.App .container  .ListProducts .ItemProduct .Info_Item{
    height:100%;
    width: 100%;
    display:flex;
    flex-direction: column;   
    padding: 0px 20px; 
}

.App .container  .ListProducts .ItemProduct .Info_Item .name_price{
  height:40%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  justify-content: space-between;
 
  align-items: center;
} 
.App .container  .ListProducts .ItemProduct .Info_Item .name_price .name,.price{
  font-size:12px;
  font-weight: bold;
}
.App .container  .ListProducts .ItemProduct .Info_Item .name_price .name{
  font-size: 13px;
}
.App .container  .ListProducts .ItemProduct .Info_Item .detailItem{
  height:60%;
  display: flex;
  padding:10px;
} 

.App .container  .ListProducts .ItemProduct .Info_Item .detailItem p{
  font-size:12px;
}
